@import url("reset.css");

[class*="nav"] {
    color: green;
}

div.article {
    color: brown;
}

.article.text {
    color: #6B0ACC;
}

.hero-text,
.conclusion-text {
    color: #874946;
}

.article-text p {
    color: #D9740B;
}

.text-one .article {
    color: #8F7582;
}

.example-text * {
    color: red;
}

.example-text-two>p {
    color: #2FE07D;
}

.example-text-three~p {
    color: #9DC9B3;
}

.example-text-three+p {
    color: #351145;
}

.article a {
    text-decoration: underline;
    color: rgb(22, 99, 201);
}